{% extends "base.html" %}
{% block title %}Uploaded Books{% endblock %}
{% block content %}
{% for product in object_list %}
{% if user.username == product.username %}
<div class="old-book-upload">
    <!-- <div class="fl-li">
        <div class="items-up">
            <img src="{{product.imageURL}}" alt="">
            <div class="categori">{{product.category}}</div>
            <h4>{{product.name}}</h4>
            <h6>By: {{product.author}}</h6>
            <div class="money">Rs. {{product.price}}</div>
            <a href="{% url 'book_edit' product.pk %}"><button class="edit-btn" >Edit</button></a>
        </div>
    </div> -->
    <div></div>
    <div class="flex-list">
        <div class="book-item">
            <a href="{% url 'book_detail' product.pk %}"><img src="{{product.imageURL}}" alt=""></a>
            <div class="categori">{{product.category}}</div>
            <hr>
            <a href="{% url 'book_detail' product.pk %}"><h4>{{product.name}}</h4></a>
            <h6>By: {{product.author}}</h6>
            <div class="money">Rs. {{product.price}}</div>
            <a href="{% url 'book_edit' product.pk %}"><button class="edit-btn" >Edit</button></a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock%}